<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.pedjaapps.tvshowtracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
    <application
        android:name="rs.pedjaapps.tvshowtracker.TVShowTracker"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:largeHeap="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <provider
            android:name="rs.pedjaapps.tvshowtracker.utils.SuggestionProvider"
            android:authorities="rs.pedjaapps.tvshowtracker.SuggestionProvider"
            android:exported="false" />

        <activity
            android:name="rs.pedjaapps.tvshowtracker.MainActivity"
            android:label="@string/app_name"
			android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResults" />
        </activity>
        <activity
            android:name="rs.pedjaapps.tvshowtracker.SearchResults"
            android:exported="false"
            android:label="Search Results"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="rs.pedjaapps.tvshowtracker.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName="rs.pedjaapps.tvshowtracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.tvshowtracker.MainActivity" />
        </activity>
        <activity
            android:name="rs.pedjaapps.tvshowtracker.AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:parentActivityName="rs.pedjaapps.tvshowtracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.tvshowtracker.MainActivity" />
        </activity>
        <activity
            android:name="rs.pedjaapps.tvshowtracker.BannerActivity"
            android:label="@string/title_activity_banner"
            android:parentActivityName="rs.pedjaapps.tvshowtracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.tvshowtracker.MainActivity" />
        </activity>
        <activity
            android:name="rs.pedjaapps.tvshowtracker.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="rs.pedjaapps.tvshowtracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.tvshowtracker.MainActivity" />
        </activity>
        <activity
            android:name="rs.pedjaapps.tvshowtracker.ProfilesActivity"
            android:label="@string/title_activity_profiles"
            android:parentActivityName="rs.pedjaapps.tvshowtracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.tvshowtracker.MainActivity" />
            <intent-filter>
                <action android:name="rs.pedjaapps.tvshowtracker.ProfilesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name="rs.pedjaapps.tvshowtracker.BackupActivity"
            android:label="@string/title_activity_backup" >
			<intent-filter>
                <action android:name="rs.pedjaapps.tvshowtracker.BackupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name="rs.pedjaapps.tvshowtracker.About"
            android:label="@string/title_activity_about"
			android:theme="@android:style/Theme.Holo.Dialog">
			<intent-filter>
                <action android:name="rs.pedjaapps.tvshowtracker.About" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
