<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.tvst.api.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.tvst.api.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>pr3dr@gc</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/tvst</param-value>
    </context-param>
    <context-param>
        <param-name>log4j-config</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/AppErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/AppErrorHandler</location>
    </error-page>
</web-app>